fastapi
uvicorn
python-dotenv
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-chroma==0.1.2
langchain-google-genai==1.0.8
pypdf
python-docx
chromadb
tiktoken
python-multipart
